In [1]:
import pandas

data = pandas.read_csv("weather_data.csv")

print(data)
print()

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [2]:
print(data["temp"])
print()

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [3]:
print(type(data))
print(type(data["temp"]))
print()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [4]:
data_dict = data.to_dict()
print(data_dict)
print()

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [5]:
temp_list = data["temp"].to_list()
print(temp_list)
print(len(temp_list))
print()

[12, 14, 15, 14, 21, 22, 24]
7

In [6]:
print(sum(temp_list) / len(temp_list))
print(data["temp"].mean())
print()

17.428571428571427
17.428571428571427

In [7]:
print(data["temp"].max())
print()

24

In [8]:
print(data["condition"])
print()

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [9]:
print(data.condition)
print()

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [10]:
print(data[data.day == "Monday"])
print()

      day  temp condition
0  Monday    12     Sunny

In [11]:
print(data[data.temp == data.temp.max()])
print()

      day  temp condition
6  Sunday    24     Sunny

In [12]:
monday = data[data.day == "Monday"]
print(monday.condition)

0    Sunny
Name: condition, dtype: object

In [13]:
# Переводит в Фаренгейты
monday_temp_F = monday.temp * 9 / 5 + 32
print(monday_temp_F)

0    53.6
Name: temp, dtype: float64